<SpaceSettings>
  <UniverseSize>700</UniverseSize>
  <MSPerFrame>16</MSPerFrame>
  <FramesPerShot>6</FramesPerShot>
  <RespawnRate>300</RespawnRate> 
  <!-- Uncomment below for King of the hill! -->
  <KingOfTheHill>true</KingOfTheHill>
 

  <Star>
    <x>0</x>
    <y>0</y>
    <mass>0.01</mass>
  </Star>
  
<!-- We can add other stars too (or none) 
  <Star>
    <x>100</x>
    <y>100</y>
    <mass>0.005</mass>
  </Star>
 -->
</SpaceSettings>